#name{
    font-family: 'Cantata One', serif;
    color: navy;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002b';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

#footer {
    background: #b8c3e7;
}

#date {
    border: none;
    color: navy;
}

.carousel-item {
    filter: grayscale(100%);
    font-size: large;

}

.carousel-text {
    background-color: black;
}